<!DOCTYPE html>
<html lang="ko">

<head>
    <title>자기 소개</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light navbar-light">
            <img src="donut.jpg" width="60px" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
            <ul class="nav nav-pills mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> </a>
                </li>
            </ul>
            <div class="navbar-text">
                <p>날씨</p>
                <P>관리자님 환영합니다.</P>
            </div>
        </nav>
        <br>
        <div class="row">
            <div class="col-2">
                <h3>메뉴 영역</h3>
                <div class="dropdown">
                    <button type="button" class="btn btn-basic dropdown-toggle" data-toggle="dropdown">
                        드롭다운
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Dropdown
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Normal</a>
                        <a class="dropdown-item active" href="#">Active</a>
                        <a class="dropdown-item disabled" href="#">Disabled</a>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="row" style="margin-left: 10px">
                    <div class="col-12">
                        <h3>자기 소개</h3>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-3">
                        <!-- 사진 영역 -->
                        <img src="images/KSH.jpg" width="200px">
                    </div>
                    <div class="col-8">
                        <h5>이름 : 김유은</h5>  
                        <h5>생일 : 1996.06.05</h5> 
                        <h5>학교 : 충남대학교 수학과</h5>
                        <a href='https://github.com/YueunKim' target='_blank'><img src='https://ifh.cc/g/DRjdR2.png' width="40px" height="40px"></a>
                        <a href='https://www.instagram.com/yueuny_/' target='_blank'><img src='https://ifh.cc/g/Kb9jER.png' width="40px" height="40px"></a>
                        <a href='https://blog.naver.com/kue0605' target='_blank'><img src='https://ifh.cc/g/QUVqgw.png' width="40px" height="40px"></a>
                        <h5>click this icon</h5>
                        <hr>
                        <!-- content -->
                        
                    </div>
                    <div class="col-1">
                        <!-- etc -->
                    </div>
                </div>
                <br>
            </div>
                <div style="text-align : center">
                    <h3>MY HOBBY</h3>
                    <a href='https://ifh.cc/v-YjndHI' target='_blank'><img src='https://ifh.cc/g/YjndHI.jpg' width="200px" height="200px"></a>
                    <a href='https://ifh.cc/v-4nHKDu' target='_blank'><img src='https://ifh.cc/g/4nHKDu.jpg' width="200px" height="200px"></a>
                    <a href='https://ifh.cc/v-a2DmW2' target='_blank'><img src='https://ifh.cc/g/a2DmW2.jpg' width="200px" height="200px"></a>
                    <a href='https://ifh.cc/v-BEQRI3' target='_blank'><img src='https://ifh.cc/g/BEQRI3.jpg' width="200px" height="200px"></a>
                    <br>
                    <br>
                    <h3>I LIKE IT</h3>
                    <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                    <li data-target="#demo" data-slide-to="4"></li>
                    <li data-target="#demo" data-slide-to="5"></li>
                    </ul>
                
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href='https://ifh.cc/v-KI0xlI' target='_blank'><img src='https://ifh.cc/g/KI0xlI.gif' width="400px" height="200px"></a>
                    </div>
                    <div class="carousel-item">
                        <a href='https://ifh.cc/v-X609A0' target='_blank'><img src='https://ifh.cc/g/X609A0.gif' width="400px" height="200px"></a>
                    </div>
                    <div class="carousel-item">
                        <a href='https://ifh.cc/v-HyLvRP' target='_blank'><img src='https://ifh.cc/g/HyLvRP.gif' width="400px" height="200px"></a>
                    </div>
                    <div class="carousel-item">
                    <a href='https://ifh.cc/v-YJ7JMT' target='_blank'><img src='https://ifh.cc/g/YJ7JMT.gif' width="400px" height="200px"></a>
                    </div>
                    <div class="carousel-item">
                    <a href='https://ifh.cc/v-dkE46h' target='_blank'><img src='https://ifh.cc/g/dkE46h.gif' width="400px" height="200px"></a>
                    </div>
                    <div class="carousel-item">
                    <a href='https://ifh.cc/v-PfFU4c' target='_blank'><img src='https://ifh.cc/g/PfFU4c.gif' width="400px" height="200px"></a>
                    </div>
                    </div>
                
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>