<div class="col-10">
  <div class="row" style="margin-left: 10px">
      <div class="col-12">
          <h3>자기 소개</h3>
      </div>
      <div class="col-12">
          <hr>
      </div>
      <div class="col-0">
          <!-- 사진 영역 -->
          <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/115821669_989235328178977_6984085335687572244_n.jpg?_nc_cat=100&_nc_sid=8bfeb9&_nc_eui2=AeHcQWlBFMf1wWOp5Zo35AUPbpmPiaGfTyNumY-JoZ9PI2oKMcBntof-Z4kYBMgI6Gzi1WsyeF22PB3daLv0EclM&_nc_ohc=sk0CiAG07aoAX_IaKPg&_nc_ht=scontent-ssn1-1.xx&oh=00206c152f531c4aa2eeb1d717829e84&oe=5F451BC2" width="250px" height="250px">
      </div>
      <div class="col-6">
          <h5>이름 : 김동익<h5>
          <hr>
          <!-- content -->
         키:186 몸무게:90<br>
         <strong>좋아하는것:<br></strong>
         낚시도 좋아하는 편이고 친구들과 함께 헬스장 아니면 풋살장 아니면 영화관 또는 노래방에 가는걸 좋아합니다<br>
         그리고 여행가는것도 좋아합니다!<br>
         <strong>싫어하는것:</strong><br></h5>
         술마시는것,더운것,시청역에서 내리는것<br>
      </div>
      <div class="col-1">
          <!-- etc -->
      </div>
  </div>
  <br>
  <h3>✉️ Contact Me</h3>
  <p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;이메일 : qldrh3340@naver.com
      <br>&nbsp;&nbsp;&nbsp;github : <a href="https://github.com/KR-oreao"><img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/115933069_989257504843426_6271053419874520641_o.jpg?_nc_cat=106&_nc_sid=8bfeb9&_nc_eui2=AeG-g-uglY3hF9NHgs4wSwSUjJVmFuMMBD6MlWYW4wwEPgWxP0MgtjqTO2NbjWivxQSbLPVxB7sFS7_g3BoS4v7R&_nc_ohc=2FWTkWAG9swAX_AtW33&_nc_ht=scontent-ssn1-1.xx&oh=1f35c21cd090315c628ff6c3d4aa84f4&oe=5F43DD9D" width="100"></a></p>
  <br>
  <h5></i> 2020개인목표</h5>
  <table class="table">
      <thead>
          <tr>
              <th>목표</th>
              <th>기간</th>
              <th>노력여부</th>
              <th>성공확률</th>
              
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>3대500</td>
              <td>2020 12월31일까지</td>
              <td>항상 거의 운동함</td>
              <td>10%미만...</td>
          </tr>
          <tr>
              <td>챔스결승경기 직관가기</td>
              <td>*코로나떄문에 결승전 미확정</td>
              <td>최대한 코로나 빨리끝나길 기도</td>
              <td>5%미만</td>
          </tr>
      </tbody>
  </table>
  
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active" ></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5" ></li>
    <li data-target="#demo" data-slide-to="6"></li>
    <li data-target="#demo" data-slide-to="7"></li>
    <li data-target="#demo" data-slide-to="8"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href='https://ifh.cc/v-JEPcT5' target='_blank'><img src='https://ifh.cc/g/JEPcT5.jpg' border='0'alt="0" width="800" height="700"></a>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-tYkmK5' target='_blank'><img src='https://ifh.cc/g/tYkmK5.jpg' border='0'alt="1" width="800" height="700"></a>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-Hyd0qX' target='_blank'><img src='https://ifh.cc/g/Hyd0qX.jpg' border='0'alt="2" width="800" height="700"></a>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-6c4xxG' target='_blank'><img src='https://ifh.cc/g/6c4xxG.jpg' border='0' alt="3" width="800" height="700"></a>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-JY2niY' target='_blank'><img src='https://ifh.cc/g/JY2niY.jpg' border='0' alt="4" width="800" height="700"></a>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-bA3lP0' target='_blank'><img src='https://ifh.cc/g/bA3lP0.jpg' border='0' alt="5" width="800" height="700"></a>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-dDyrFh' target='_blank'><img src='https://ifh.cc/g/dDyrFh.jpg' border='0' alt="6" width="800" height="700"></a>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-ae1ZQ5' target='_blank'><img src='https://ifh.cc/g/ae1ZQ5.jpg' border='0' alt="7" width="800" height="700"></a>
    </div>
      <div class="carousel-item">
      <a href='https://ifh.cc/v-4Pi2oC' target='_blank'><img src='https://ifh.cc/g/4Pi2oC.jpg' border='0' alt="7" width="800" height="700"></a>
    </div>




  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>